<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>swipeFix</title>

    <link href="static/css/build.css" rel="stylesheet">
</head>
<body>

<div id="site-wrapper">

    <div class="content-wrap app-target">
        <div class="loading-card">
            <span class="round"></span>
        </div>
    </div>

</div>

<script src="static/js/dist/build.js"></script>
<script>
    $(function() {

        // Toggle Nav on Click
        $('.navbar-toggler').on('click', function() {
            $('#site-wrapper').toggleClass('show-nav');
            return false;
        });

    });
</script>
</body>
</html>